{{> head }}
<body>
	{{> navbar }}

	<div class="container">
		<div class="row">
			<div class="col-8 mt-3">
				<h1>{{ capitalizar 'sobRe nosotRos'}}</h1>
				<p>
					Durante nuestra existencia en la comunidad de El Monte, hemos estado operando bajo este principio: Servicios de calidad que se ofrecen con un buen corazón!
					<br>
					<br>
					En Santa Maria Pharmacy, nos esforzamos para ofrecerle la medicina y nutricionales suplementos que son genuinos y asequible. Aparte de eso, también tenemos salas de consulta en el que se puede tener una audiencia con nuestros médicos residentes. También mantenemos una línea abierta de comunicación con sus médicos para que podamos saber si hay cambios en los datos de su receta.
					<br>
					<br>
					Creemos en una forma sensata de ofrecer nuestros servicios a los miembros de la comunidad. Así es como nos preocupamos por ti.
					<br>
					<br>
					Para obtener más información, usted puede marcar al 77-777-7773.
				</p>
			</div>
			
			<div class="col-4">
				<img src="assets/img/img-about.jpg" alt="" class="img-thumbnail m-5">
			</div>
	</div>

	</div>

	{{> footer }}
</body>
</html>
